<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>841242446184-far71dmpobk2d3prdquf52ninqciaeqn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.841242446184-far71dmpobk2d3prdquf52ninqciaeqn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>841242446184-6smbgsf29s39etceiurt1ti2r305i349.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAl64oW8qd_8HBD_Fr9UA8KDI73DzwVdIQ</string>
	<key>GCM_SENDER_ID</key>
	<string>841242446184</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.lucascouto.dictionary</string>
	<key>PROJECT_ID</key>
	<string>dictionary-lc</string>
	<key>STORAGE_BUCKET</key>
	<string>dictionary-lc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:841242446184:ios:d1dd5078293219b07e2edd</string>
</dict>
</plist>